<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1 style="color: #2980b9;">TeamBoard Invitation!</h1>
    <p style="color: #4d4d4d; font-size: 16px;">
      Hello! <%= @inviter.name %> has invited you to join his team on <a href="" style="color: #2980b9;">TeamBoard</a>. All you need to do now is sign in and start working!
    </p>

    <p style="color: #4d4d4d; font-size: 16px;">We hope to see you soon at <a href="" style="color: #2980b9;">TeamBoard</a></p>

    <p style="color: #4d4d4d; font-size: 14px;">The TeamBoard Team</p>
  </body>
</html>