<h2 class="tagline">TeamBoard is a new way to organise tasks, ideas and reminders and share them with your team.</h2>
<div>
  <%= link_to "Sign in", "/users/sign_in", id: "sign_in", class: "btn tb-btn btn-sign-in" %>
</div>
<div>
  <%= link_to "Don't have an account? Sign up now!", "/users/sign_up", id: "sign_in_email" %>
</div>