<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="section-header no-sub-title">
      <h1>About</h1>
    </div>

    <div class="row about-page">
      <div class="col-md-12">
        <h1>TeamBoard is a Mini Project Management Tool and Shareable Web Whiteboard</h1>
        <h2>
        	Developed with <i class="glyphicon glyphicon-heart"></i> by <a href="http://mgiroux.me">Marc-André Giroux</a> and <a href="https://github.com/IgorMiller">Igor Miller</a>
        </h2>
        <h2>Logos by <a href="http://gis113-h14-10-gl.espaceweb.usherbrooke.ca/">Gabrielle Le Sauteur</a></h2>
      </div>
    </div>

  </div>
</div>