<!-- CONTEXT MENU -->
<div class="dropdown context-men" id="menu">
  <ul class="dropdown-menu" role="menu">
    <li>
      <strong>Note Color</strong>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selectColor('green')">
         Green
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selectColor('yellow')">
         Yellow
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selectColor('red')">
         Red
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selectColor('blue')">
         Blue
      </a>
    </li>
    <li>
      <a class="pointer" role="menuitem" tabindex="1"
         ng-click="selectColor('purple')">
         Purple
      </a>
    </li>
  </ul>
</div>
<!-- END CONTEXT MENU -->

<div class="row" ng-controller="BoardController">
  <div class="col-md-12">
    <div class="section-header">
      <h1>{{board.name}}</h1>
      <h2>{{board.description}} <a href="" ng-click="onAddNote()" class="pull-right btn tb-btn">Pin a note</a></h2>
    </div>
  </div>

    <!-- Column 1 -->
    <div class="row">
    	<div class="col-md-4 items">
        <ul ui-sortable="sortableOptions" ng-model="firstCol" class="item-column">
          <li ng-controller="BoardItemController" ng-repeat="item in firstCol">
            <div ng-class="item.color" class="note-item">
              <h3 editable-text="item.title" class="note-title" onaftersave="updateItem()">{{ item.title }}</h3>
              <p editable-textarea="item.noteContent" class="note-content" onaftersave="updateItem()">{{ item.noteContent }}</p>
              <div class="note-details">
                <a href="" ng-click="showComments = ! showComments"><i class="glyphicon glyphicon-comment"></i> Comments</a> 
                <a href=""><i class="glyphicon glyphicon-calendar"></i> Due Date</a>
                <a href=""><i class="glyphicon glyphicon-pencil"></i> Color</a>
              </div>
              <div ng-class="{ 'hidden': ! showComments }" class="note-comments">
                <div class="row" ng-repeat="comment in comments">
                  <div class="col-md-1">
                    <i class="glyphicon glyphicon-user"></i>
                  </div>
                  <div class="col-md-10 comment">
                    <p><strong>{{ comment.user.name }}</strong> {{ comment.content }}</p>
                    <p>{{ comment.createdAt }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                    <i class="glyphicon glyphicon-user"></i>
                  </div>
                  <div class="col-md-10">
                    <input type="text" name="newComment" class="form-control new-member" placeholder="Type your comment here..." ng-model="comment">
                  </div>
                </div>
            </div>
          </li>
        </ul>
    	</div>

      <!-- Column 2 -->
      <div class="col-md-4 items">
        <ul ui-sortable="sortableOptions" ng-model="secondCol" class="item-column">
          <li ng-controller="BoardItemController" ng-repeat="item in secondCol">
            <div ng-class="item.color" class="note-item">
              <h3 editable-text="item.title" class="note-title" onaftersave="updateItem(item.id, item.title, item.noteContent)">{{ item.title }}</h3>
              <p editable-textarea="item.noteContent" class="note-content" onaftersave="updateItem(item.id, item.title, item.noteContent)">{{ item.noteContent }}</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-4 items">
        <ul ui-sortable="sortableOptions" ng-model="thirdCol" class="item-column">
          <li ng-controller="BoardItemController" ng-repeat="item in thirdCol">
            <div ng-class="item.color" class="note-item">
              <h3 editable-text="item.title" class="note-title" onaftersave="updateItem(item.id, item.title, item.noteContent)">{{ item.title }}</h3>
              <p editable-textarea="item.noteContent" class="note-content" onaftersave="updateItem(item.id, item.title, item.noteContent)">{{ item.noteContent }}</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
</div>