<div class="row files" ng-controller="FilesController">
  <div class="col-md-12 col-sm-12">
    <div class="section-header">
      <h1>Shared files</h1>
      <h2>Here reside files you have shared with your teams</h2>
    </div>


    <div class="row tb-list-item" ng-repeat="file in files">
      <div class="col-md-2 col-xs-4 icon-col">
        <i class="team-icon glyphicon glyphicon-folder-open"></i>
      </div>
      <div class="col-md-10 col-xs-8">
        <p class="name">{{file.title}}</p>
      </div>
      </a>
    </div>

  </div>
</div>