<div class="row dashboard">
  <div class="col-md-12 col-sm-12">
    <div class="section-header">
      <h1>Dashboard</h1>
      <h2>Welcome, {{ currentUser.name }}. Here are the most recent news about your projects.</h2>
    </div>

    <div class="row section dashboard">
      <div class="col-md-6">
        <h2 class="dashboard-title">Recently Active Projects</h2>
        <div class="row" ng-repeat="project in projects">
          <a href="#/projects/{{project.id}}">
          <div class="col-md-1 col-xs-4 icon-col">
            <i class="project-icon glyphicon glyphicon-folder-open"></i>
          </div>
          <div class="col-md-11 col-xs-8">
            <p class="name">{{project.name}}</p>
          </div>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <h2 class="dashboard-title">Most Recent Comments</h2>
      </div>

      <div class="col-md-6">
        <h2 class="dashboard-title">Tasks Due Soon</h2>
      </div>


    </div>

    </div>
  </div>
</div>