<div class="row new-team" ng-controller="NewTeamController">
  <div class="col-md-12 col-sm-12">
    <div class="section-header row">
      <h1>New Team</h1>
      <h2>Create a team by setting a name and a description</h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form name="newTeamForm" ng-submit="createTeam()">
          <!-- NAME -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Awesome Team" ng-model="formData.name" required>
            <span class="help-block"></span>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" placeholder="This is the best team ever." ng-model="formData.description">
            <span class="help-block"></span>
          </div>

          <div class="form-group form-inline">
            <label>Add Team Members (Optional)</label>
            <ul class="member-list">
              <li ng-repeat="member in formData.members"><i class="glyphicon glyphicon-user"></i> {{ member }}</Li>
            </ul>
            <div>
            <input type="email" name="member" ng-model="member" class="form-control" placeholder="angryhypo@gmail.com">
            <button ng-disabled="newTeamForm.$invalid" ng-click="appendMemberToList()" class="btn tb-btn add-member-btn">Add</button><a ng-click="userExists('mgiroux0@gmail.com')">exists?</a></div>
             <span class="error" ng-show="newTeamForm.member.$error.email">Please enter a valid email!</span>
          </div>


          <button ng-disabled="newTeamForm.$invalid" type="submit" class="btn tb-btn">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>