 <div class="row details-page" ng-controller="ProjectController">
  <div class="col-md-12 col-sm-12">
    <div ng-model="project" class="section-header no-sub-title">
      <h1>{{project.name}}</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Project Description</h3>
        <p class="description-text">{{project.description}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Assigned Team</h3>
        <p class="description-text"><a href="#/teams/{{project.team.id}}">{{project.team.name}}</a></p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3>Additional Users</h3>
        <p class="description-text" ng-repeat="user in project.users">{{user.name}}</p>
        <p ng-if="project.users.length == 0"><a href="">Add Additional Users</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Boards <a href="#/projects/{{project.id}}/boards/new" class="pull-right btn tb-btn">New Board</a></h3>
        <div class="row tb-list-item first" ng-repeat="board in project.boards">
          <a href="#/boards/{{board.id}}">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-pushpin"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name">{{board.name}}</p>
            <p class="description">{{board.description}}</p>
            <p class="description"><strong>Board Owner: </strong>{{board.owner.name}}</p>
          </div>
          </a>
        </div>
      </div>
    </div>


    <div ng-if="project.isOwner" class="row section">
      <div class="col-md-4 user-list">
        <a href="" ng-click="onDelete()" class="btn btn-danger">Delete Project</a>
      </div>
    </div>

  </div>
</div>