 <div class="row item-page" ng-controller="ProjectController">
  <div class="col-md-12 col-sm-12">
    <div ng-model="project" class="section-header">
      <h1>{{project.name}}</h1>
      <h2>Edit Project</h2>
    </div>

    <div class="row section">
      <div class="col-md-4">
        <span class="title">Description</span> <p class="team-desc">{{project.description}}</p>
      </div>
    </div>

    <div class="row section">
      <div class="col-md-12">
        <span class="title">Boards</span>
        <div class="row">
          <div class="col-md-4" ng-repeat="board in project.boards">
            <div class="board">
              <div class="board-name">
                <i class="glyphicon glyphicon-th"></i><a href="#/boards/{{board.id}}">{{board.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="project.isOwner" class="row section">
      <div class="col-md-4 user-list">
        <a href="" ng-click="onDelete()" class="btn btn-danger">Delete Project</a>
      </div>
    </div>

  </div>
</div>