<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="section-header">
      <h1>My Tasks</h1>
      <h2>Items assigned to me</h2>
    </div>

    <div class="row empty-state" ng-if="tasks.length == 0">
      <div class="col-md-12">
        <i class="glyphicon glyphicon-pushpin"></i>
        <h1>Hmm... Looks like nothing is assigned to you right now</h1>
        <h2>Take a look at your <a href="#/projects">existing projects</a></h2>
      </div>
    </div>

    <div class="row tb-list-item" ng-repeat="task in tasks">
      <a href="">
      <div class="col-md-2 col-xs-4 icon-col">
        <i class="team-icon glyphicon glyphicon-pushpin"></i>
      </div>
      <div class="col-md-10 col-xs-8">
        <p class="name">{{task.title}}</p>
        <p class="description">{{task.noteContent}}</p>
        <p class="description"><strong>Due Date: </strong>{{task.dueDate | date:"EEEE, MMM dd"}}</p>
      </div>
      </a>
    </div>

  </div>
</div>