<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="section-header row">
      <h1>Teams</h1>
      <h2>Create a team or invite your peers to join an existing team.</h2>
    </div>

    <div class="row team" ng-repeat="team in teams">
      <a href="#/teams/{{team.id}}">
      <div class="col-md-2 col-xs-4 icon-col">
        <i class="team-icon glyphicon glyphicon-globe"></i>
      </div>
      <div class="col-md-10 col-xs-8">
        <p class="name">{{team.name}}</p>
        <p class="description">{{team.description}}</p>
      </div>
      </a>
    </div>
  </div>
</div>