<div class="row details-page" ngController="TeamController">
  <div class="col-md-12 col-sm-12">
    <div ng-model="team" class="section-header">
      <h1>{{team.name}}</h1>
      <h2>Manage and Edit Team</h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Team Description</h3>
        <p class="description-text">{{team.description}}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3>Projects</h3>
        <p class="no-items" ng-if="team.projects.length == 0">Your team has no projects. <a href="#/projects/new">Add a Project.</a></p>
        <div class="row tb-list-item small first" ng-repeat="project in team.projects">
          <a href="#/projects/{{project.id}}">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-folder-open"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name">{{project.name}}</p>
            <p class="description">{{project.description}}</p>
          </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Members</h3>
        <div class="row tb-list-item small first">
          <a href="">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-king"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name">{{team.owner.name}} <!-- a ng-if="team.isOwner" class="transfer hidden-link" href="#">Transfer Ownership</a--></p>
            <p class="description">{{team.owner.email}}</p>
          </div>
          </a>
        </div>
        <div class="row tb-list-item small first" ng-repeat="manager in team.managers">
          <a href="">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-knight"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name" ng-if="!manager.active">Invited User</p>
            <p class="name">{{manager.name}}</p>
            <p class="description">{{manager.email}}</p>
          </div>
          </a>
        </div>
        <div class="row tb-list-item small first" ng-repeat="user in team.users">
          <a href="">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-pawn"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name">{{user.name}}</p>
            <p class="description">{{user.email}}</p>
          </div>
          </a>
        </div>
        <div class="row tb-list-item small first" ng-repeat="user in team.pendingInvites">
          <a href="">
          <div class="col-md-2 col-xs-4 icon-col">
            <i class="team-icon glyphicon glyphicon-time"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <p class="name">Invited User</p>
            <p class="description">{{user.email}}</p>
          </div>
          </a>
        </div>

        <div class="row tb-list-item small">
          <div class="col-md-2 col-xs-4 icon-col">
            <i ng-if="!addForms.addAsManager" class="team-icon glyphicon glyphicon-pawn"></i>
            <i ng-if="addForms.addAsManager" class="team-icon glyphicon glyphicon-knight"></i>
          </div>
          <div class="col-md-10 col-xs-8">
            <form class="form" name="addForms.newUserForm" ng-submit="onAddUser()">
              <div class="new-member-container form-group" ng-class="{'has-error': addForms.newUserForm.newUser.$error.email}">
                <input type="email" name="newUser" class="form-control new-member" 
                          placeholder="sadelephant@zoo.com" ng-model="addForms.newUser">
                <input type="checkbox" id="inlineCheckbox1" ng-model="addForms.addAsManager" value="option1"> Add As Manager
                <i ng-click="onAddUser()" class="add glyphicon glyphicon-plus-sign"></i>
                <span class="error" ng-show="addForms.newUserForm.newUser.$error.email">Please enter a valid email!</span>
              </div>
              <div class="form-group">

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div ng-if="team.isOwner" class="row section">
      <div class="col-md-4 user-list">
        <a href="" ng-click="onDelete()" class="btn btn-danger">Delete Team</a>
      </div>
    </div>

  </div>
</div>