<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="section-header">
      <h1>Teams</h1>
      <h2>Create a team or invite your peers to join an existing team. <a href="#/teams/new" class="pull-right btn tb-btn">Add Team</a></h2>
    </div>

    <div class="row" ng-if="teams.length == 0">
      <div class="col-md-12 empty-state">
        <h1>You haven't created any teams yet!</h1>
        <a href="#/teams/new" class="create-team">Create one now!</a>
      </div>
    </div>
    <div class="row tb-list-item" ng-repeat="team in teams">
      <a href="#/teams/{{team.id}}">
      <div class="col-md-2 col-xs-4 icon-col">
        <i class="team-icon glyphicon glyphicon-globe"></i>
      </div>
      <div class="col-md-10 col-xs-8">
        <p class="name">{{team.name}}  <a href="#/teams/{{team.id}}" class="pull-right btn tb-btn">Edit</a></p>
        <p class="description">{{team.description}}</p>
        <p class="description"><strong>Owned by </strong>{{team.owner.name}}</p>
      </div>
      </a>
    </div>
  </div>
</div>