@import "variables";

/* CALENDAR EVENT COLORS */

.fc-event.green {
  background-color: $colorGreen;
  border-color: $colorGreen;
  color: black;
}
.fc-event.blue {
  background-color: $colorBlue;
  border-color: $colorBlue;
  color: black;
}
.fc-event.purple {
  background-color: $colorPurple;
  border-color: $colorPurple;
  color: black;
}
.fc-event.red {
  background-color: $colorRed;
  border-color: $colorRed;
  color: black;
}
.fc-event.yellow {
  background-color: $colorYellow;
  border-color: $colorYellow;
  color: black;
}

.event-calendar {
  width: 80%;
  margin: 20px auto;
}