// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-splash {
  height: 90px;
  margin-top: 80px;
  margin-bottom: 20px
}

.tagline {
  margin: auto;
  color: #4d4d4d;
  max-width: 900px;
  font-weight: bold;
  font-size: 28px;
  padding: 20px;
}

.btn-sign-up {
  margin-top: 15px;
  height: 42px;
  width: auto;
  font-size: 21px !important;
  color: white;
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #216d9c);
  background-image: -moz-linear-gradient(top, #2980b9, #216d9c);
  background-image: -ms-linear-gradient(top, #2980b9, #216d9c);
  background-image: -o-linear-gradient(top, #2980b9, #216d9c);
  background-image: linear-gradient(to bottom, #2980b9, #216d9c);
  border-color: #db5a78;
}

.btn-sign-up:hover {
  background: #227eb3;
  background-image: -webkit-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -moz-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -ms-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -o-linear-gradient(top, #227eb3, #0d78bf);
  background-image: linear-gradient(to bottom, #227eb3, #0d78bf);
  text-decoration: none;
  color: white !important;
}

.login-link {
  a {
    color: #999;
  }
  padding-top: 15px;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}

/* Sidebar stuff */
.main-logo {
  height: 180px;
  width: 240px;
  position: fixed;
  background: image-url("tb.png") no-repeat scroll 50% 60% transparent;
  background-size: 150px auto;
  left: 0;
  top: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.signoutlink {
  color: black;
}

.sidebar {
  left: 0;
  background-color: #f2f2f2;
  top: 180px;
  overflow-y: auto !important;
  overflow-x: hidden;
  box-sizing: content-box;
  display: block;
  position: fixed;
  bottom: 0;
  right: auto;
  width: 240px;
  margin: 0 !important;
  padding: 0px;

  font-size: 15px;
  line-height: 1.6em;
  outline: 0;
  list-style: none;

  a, a:visited, a:active {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #9b9b9b;
    overflow: hidden;
    white-space: nowrap;
  }

  a:hover {
    color:#494949;
    text-decoration: none;
    .glyphicon {
      color: #2980b9;
    }
  }

  li {
    font-size: 1.2em;
    line-height: 2.33333333em;
    padding:5px;
  }

  .sidebar-submenu {
    font-size:12px;
    padding-left:18px;
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    -moz-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);

  }

  .sidebar-submenu.active {
    max-height: 500px;
    -webkit-transition: max-height 0.5s linear;
    -moz-transition: max-height 0.5s linear;
    transition: max-height 0.5s linear;
  }

  .current {
    background-color: white;
    .glyphicon {
      color: #2980b9;
    }
  }


}

/* main content */

#wrap {
  margin-left: 240px;
  margin-right: 0;
  width: auto;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: inherit;
  padding: 0 !important;
  position: relative;
}

#main {
  height: 100%;
  position: relative;
}

.content {
  padding-left: 10px;
}
