// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-splash {
  height: 90px;
  margin-top: 80px;
  margin-bottom: 10px
}

.tagline {
  margin: auto;
  color: #4d4d4d;
  max-width: 900px;
  font-weight: bold;
  font-size: 28px;
}

.btn-sign-up {
  margin-top: 15px;
  height: 42px;
  width: 190px;
  font-size: 21px !important;
  color: white;
  background-color: #db5a78;
  border-color: #db5a78;
}

.login-link {
  a {
    color: #999;
  }
  padding-top: 15px;
}