@import "variables";

html, body
{
    height: 100%;
    min-height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

/* MAIN WRAP */
#wrap {
  min-height: 100%;
  position: relative;
  width: auto;
  margin-right: 0;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0 !important;
}

.main {
  height: 100%;
  position: relative;
  .section-header {
    margin-top: 40px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e0e0e0;
    padding-right: 20px;
    h1 {
      margin-top: 0px;
      color: $teamboardBlue;
      font-size: 48px;
    }
    h2 {
      line-height: 32px;
      color: $teamboardBlack;
      font-weight: bold;
      font-size: 18px;
      margin-top: 21px;
      margin-left: 5px;
    }   
  }
  .section-header.no-sub-title {
    padding-bottom: 78px;
  }

  .empty-state {
    margin-top: 50px;
    text-align: center;
    a {
      color: $teamboardBlue;
    }
    i {
      font-size: 84px;
      color: $lightGrey;
    }
    h1 {
      color: $teamboardBlack;
    }
    h2 {
      color: $lightGrey;
    }
  }

  .tb-list-item {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    .icon-col {
      text-align: center;
      margin-top: 15px;
      .team-icon {
        font-size: 58px;
        color:$lightGrey;
      }
    }
    .name {
      font-size: 18px;
      font-weight: normal;
      color: $teamboardBlue;
    }
    .description {
      font-size: 16px;
      font-weight: normal;
      color:$teamboardBlack;
    } 
  }

  .tb-list-item.small {
    p {
      margin: 0px;
    }
    padding: 5px;
    .name {
      font-size: 16px;
    }
    .icon-col {
      margin-top: 10px;
      .team-icon {
        font-size: 25px;
      }
    }
  }

  .tb-list-item.first {
    border-top: 1px solid #e0e0e0;
  }
  
  .tb-list-item:hover {
    background-color: #F7F7F7;
    cursor: pointer;
  }

  .details-page {
    .title {
      font-weight: bold;
      color: $teamboardBlack;
      font-size: 18px;
    }
    .section {
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
    }

    .add-member {
      margin-top: 20px;
    }

    .new-member-container {
      position: relative;
      .new-member {
        width: 200px;
        display: inline-block;
      }
      i {
        top: 5px;
        left: 332px;
        position: absolute;
        display: inline-block;
      }
    }

    .transfer {
      color: $lightGrey;
      text-decoration: none;
      font-size: 16px;
    }
    .transfer:hover {
      color: $teamboardBlue;
      text-decoration: none;
    }

    .remove-user {
      margin-left: 5px;
      color: $lightGrey;
      font-size: 16px;
    }
    .remove-user:hover {
      color: $teamboardRed;
      text-decoration: none;
    }

    .add-user {
      font-size: 20px;
      color: $teamboardGreen;
    }

    .add {
      color: $lightGrey;
      font-size: 23px;
      cursor: pointer;
    }
    .add:hover {
      color: $teamboardGreen;
    }


    .user-list {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 0px;
      .hidden-link {
        transition: opacity 0.4s cubic-bezier(0.7, 0, 0.175, 1) 0s;
        opacity: 0;
      }
      font-size: 18px;
      color: $teamboardBlack;
    }

    .user-list:hover {
      .hidden-link {
        transition: opacity 0.4s cubic-bezier(0.7, 0, 0.175, 1) 0s;
        opacity: 1;
      }
    }
  }


}