$color: rgba(52, 152, 219, 0.4);
$colorDark: darken($color, 10%) transparent;

.items {
  margin-top: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  .item-column {
    min-height:100px;
    padding-bottom:100px;
  }
}

.note-item {
  h3 {
    margin-top: 0px;
    font-weight: bold;
  }
  .editable-click {
    color: #333 !important;
    text-decoration: none !important;
    border: none !important;
  }
  .editable-click:hover {
    color: #333 !important;
    text-decoration: none !important;
    border: none !important;
  }
  cursor:pointer;
  margin: auto;
  width: 90%;
  font-size: 20px;
  padding: 10px;
  background: $color;
  position: relative;
  min-height: 1em;
  margin-bottom: 65px;
}
.note-item:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $color;
}
.note-item:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: $colorDark;
}


@media(max-width:767px) {
  .items {
    margin-top: 20px;
    .item-column {
      min-height:100px;
      padding-bottom:0px;
    }
  }
}
