$colorBlue: rgba(52, 152, 219, 0.4);
$colorBlueDark: darken($colorBlue, 10%) transparent;

$colorPurple: rgba(155, 89, 182, 0.4);
$colorPurpleDark: darken($colorPurple, 10%) transparent;

$colorGreen: rgba(46, 204, 113, 0.4);
$colorGreenDark: darken($colorGreen, 10%) transparent;

$colorRed: rgba(231, 76, 60, 0.4);
$colorRedDark: darken($colorRed, 10%) transparent;

$colorYellow: rgba(241, 196, 15, 0.4);
$colorYellowDark: darken($colorYellow, 10%) transparent;

/* Note Colors */
.note-item.blue {
  background: $colorBlue;
}

.note-item.purple {
  background: $colorPurple;
}

.note-item.green {
  background: $colorGreen;
}

.note-item.red {
  background: $colorRed;
}

.note-item.yellow {
  background: $colorYellow;
}


.blue.note-item:after {
  border-color: $colorBlue;
}

.purple.note-item:after {
  border-color: $colorPurple;
}

.green.note-item:after {
  border-color: $colorGreen;
}

.red.note-item:after {
  border-color: $colorRed;
}

.yellow.note-item:after {
  border-color: $colorYellow;
}


.blue.note-item:before {
  border-color: $colorBlueDark;
}

.purple.note-item:before {
  border-color: $colorPurpleDark;
}

.green.note-item:before {
  border-color: $colorGreenDark;
}

.red.note-item:before {
  border-color: $colorRedDark;
}

.yellow.note-item:before {
  border-color: $colorYellowDark;
}
/* End Note Colors */

.items {
  margin-top: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  .item-column {
    min-height:100px;
    padding-bottom:100px;
  }
}

.note-item {
  h3 {
    margin-top: 0px;
    font-weight: bold;
  }
  .editable-click {
    color: #333 !important;
    text-decoration: none !important;
    border: none !important;
  }
  .editable-click:hover {
    color: #333 !important;
    text-decoration: none !important;
    border: none !important;
  }
  cursor:pointer;
  margin: auto;
  width: 90%;
  font-size: 20px;
  padding: 10px;
  position: relative;
  min-height: 1em;
  margin-bottom: 65px;
  background: $colorBlue;
}
.note-item:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $colorBlue;
}
.note-item:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: $colorBlueDark;
}


@media(max-width:767px) {
  .items {
    margin-top: 20px;
    .item-column {
      min-height:100px;
      padding-bottom:0px;
    }
  }
}


.context-men {
  position: absolute;
  li {
    cursor: pointer;
  }
}