@import "variables";

.logo-splash {
  height: 90px;
  margin-top: 40px;
  margin-bottom: 20px
}

.tagline {
  margin: auto;
  color: #4d4d4d;
  max-width: 900px;
  font-weight: bold;
  font-size: 28px;
  padding: 20px;
}

.recommend {
  color: #4d4d4d;
  max-width: 900px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
}

.or {
  color: $lightGrey;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  text-align: center;
  font-weight: lighter;
}

.sign-up-bottom {
  padding-bottom: 40px;
}

.tb-btn {
  line-height: 19px !important;
  height: 32px;
  width: auto;
  font-size: 16px !important;
  color: white;
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #216d9c);
  background-image: -moz-linear-gradient(top, #2980b9, #216d9c);
  background-image: -ms-linear-gradient(top, #2980b9, #216d9c);
  background-image: -o-linear-gradient(top, #2980b9, #216d9c);
  background-image: linear-gradient(to bottom, #2980b9, #216d9c);
  border-color: #db5a78;
}

.btn-sign-up {
  margin-top: 15px;
}

.btn-sign-in {
  width: 110px;
  margin-bottom: 10px !important;
  margin-top: 15px;
}

.tb-btn:hover {
  background: #227eb3;
  background-image: -webkit-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -moz-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -ms-linear-gradient(top, #227eb3, #0d78bf);
  background-image: -o-linear-gradient(top, #227eb3, #0d78bf);
  background-image: linear-gradient(to bottom, #227eb3, #0d78bf);
  text-decoration: none;
  color: white !important;
}

.login-link {
  a {
    color: #999;
  }
  padding-top: 15px;
}