@import "variables";


@media(min-width:768px) {
  .user-links {
    opacity: 0;
    margin-top: 13px
  }

  .row.tb-list-item.small:hover {
    .user-links {
      opacity: 1;
    }
  }
}

.user-links {
  margin-top: 13px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  .remove-link {
    padding-left: 5px;
    color: $errorRed;
  }
}