<!DOCTYPE html>
<html ng-app="teamboard" class="bluebackbround">
<head>
  <title>TeamBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #2980b9 !important;">
  <div class="main-logo"></div>
  <ul class="sidebar">
    <li id="user-menu" class="sidebar-item">
      <a id="toggle-user-menu" href="#">
          <i class="glyphicon glyphicon-user"></i>
          <%= current_user.name %>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-submenu-item">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            Profile
          </a>
        </li>
        <li class="sidebar-submenu-item">
          <a href="#">
            <i class="glyphicon glyphicon-cog"></i>
            Settings
          </a>
        </li>
        <li class="sidebar-submenu-item">
          <a class="signoutlink" href="signout">
            <i class="glyphicon glyphicon-off"></i> Log Out
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">  
      <a href="#"><i class="glyphicon glyphicon-th-list"></i> Projects</a>
    </li>
    <li class="sidebar-item">
      <a href="#"><i class="glyphicon glyphicon-globe"></i> My Team</a>
    </li>
    <li class="sidebar-item">
      <a href="#"><i class="glyphicon glyphicon-th"></i> Boards</a>
    </li>
    <li class="sidebar-item">
      <a href="#"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
    </li>
    <li class="sidebar-item">
      <a href="#"><i class="glyphicon glyphicon-info-sign"></i> About</a>
    </li>
    <li class="sidebar-item">
      <a class="signoutlink" href="signout"><i class="glyphicon glyphicon-off"></i> Sign Out</a>
    </li>
    
  </ul>

  <div id="wrap">
    <div id="main" class="container">
      <% yield %>
    </div>
  </div>

</body>
</html>
